<p id="notice"><%= notice %></p>

<p>
  <strong>Msg:</strong>
  <%= @message.msg_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<p>
  <strong>Baseline:</strong>
  <%= @message.baseline.name %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
